.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 12px;
}

.row {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}

.btn {
  padding: 10px;
  border-radius: 10px;
  border-style: none;
}

.white {
  background: white;
}

.pointer {
  cursor: pointer;
}

.shaddow {
  box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.09);
}

.fade {
  transition: all 0.3s ease-in-out;
}

.h-70 {
  height: 70px;
}

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}
